/* Global Styles */
:root {
    /* Defining CSS Variables for Reusability */
    --primary-color: #00945f /* Green */;
    --accent-color: #e97300 /* Orange */;
    --text-light: #7b7b7b /* Light Gray */;
    --text-dark: #555555 /* Dark Gray */;
    --background-light: #ebf7f5 /* Light Background */;
    --font-primary: Arial, sans-serif; /* Use Arial as the base font */
  }
  
  /* Universal Box-Sizing and Font Settings */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
  }
  
  /* -------------- Body ---------------- */
  body {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-dark);
  }
  
  /* -------------- h3 and hr common styles for hero section and Get the Citizens Advantage Section ---------------- */
  h3 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 400;
    margin: 20px 0;
  }
  
  hr {
    width: 5%;
    margin: auto;
    border: 1px solid var(--primary-color);
  }
  
  /* ----------- Hero Section ----------- */
  #herosection {
    text-align: left;
    padding: 0px 0px 40px 0px;
    background-color: #fff;
  }
  
  #logo {
    width: 325px;
    height: auto;
    margin: 20px 30px;
  }
  
  #main-img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    object-fit: cover;
    object-position: left;
  }
  
  #herosection p {
    font-size: 1rem;
    color: var(--text-light);
    line-height: 1.5;
    word-spacing: 0.2rem;
    margin: 30px;
  }
  
  .carrersbutton {
    text-align: center;
  }
  
  .carrersbutton button {
    background-color: var(--accent-color);
    padding: 10px 20px;
    font-size: 1.6rem;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Hover effect on button */
  .carrersbutton button:hover {
    background-color: darkorange;
  }
  
  /* ----------- Get the Citizens Advantage Section ----------- */
  /* Card Container for articles */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
    margin-block: 80px;
  }
  
  .cards {
    background: #fff;
    padding: 0px 30px;
    width: 47%;
    text-align: left;
  }
  
  .cards h4 {
    font-size: 1.35rem;
    color: var(--primary-color);
    font-weight: 400;
    padding-bottom: 15px;
  }
  
  .cards p {
    color: var(--text-light);
    line-height: 1.5;
    word-spacing: 0.2rem;
    text-align: justify;
  }
  
  .card-space {
    margin-bottom: 50px;
  }
  
  .cards p a {
    color: #91c12c;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* ----------- Loans Section ----------- */
  #loans-section {
    margin: 100px 40px;
  }
  
  /* Header in the Loans section */
  #loans-section > h4 {
    font-size: 1.75rem;
    font-weight: 300;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding-block: 10px;
  }
  
  /* Paragraph text in the Loans section */
  #loans-section > p {
    background-color: #ebf7f5;
    color: #8f8f8f;
    line-height: 1.5;
    word-spacing: 0.5rem;
    padding: 20px 100px;
    text-align: justify;
  }
  
  /* ----------- Officers Section ----------- */
  #officers {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    margin-bottom: 100px;
  }
  
  /* Styling for each officer's info box */
  .bank-officers {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px 100px;
    justify-content: space-between;
  }
  
  /* Officer's image styling */
  .bank-officers > img {
    width: 200px;
    height: auto;
    align-self: center;
  }
  
  /* Styling for the quote text */
  .bank-officers > div > p {
    position: relative;
    z-index: 2;
    margin-top: 10px;
    color: #8f8f8f;
    line-height: 1.5;
    font-size: 0.95rem;
    word-spacing: 0.1rem;
    font-weight: 400;
    font-style: italic;
  }
  
  
  /* Styling for the before quote mark in the quote */
  .bank-officers > div > p::before {
    font-family: "Lora", serif;
    position: absolute;
    font-size: 180px;
    z-index: 1;
    opacity: 0.2;
    content: "‘‘";
    left: -21px;
    bottom: -68px;
  }
  
  
  
  /* Officer's name styling */
  .bank-officers > .officer-name {
    margin-top: 20px;
    font-style: normal;
    color: var(--primary-color);
  }
  
  /* ----------- Footer Section ----------- */
  footer {
    border-top: 1px solid var(--primary-color);
    padding: 50px 20px;
  }
  
  /* Footer paragraph styling */
  footer > p {
    color: #8f8f8f;
    font-size: 0.75rem;
    font-weight: 400;
  }
  
  /* Footer links */
  footer > p > a {
    text-decoration: underline;
    color: #8f8f8f;
  }
  
  /* Footer statements (privacy, etc.) */
  footer > .Statements {
    margin-top: 30px;
    color: #5a5a5a;
  }
  
  /* Social Media Logo Styling in the footer */
  footer > div > img {
    width: 30px;
    height: 30px;
  }
  
  /* Social Media logos container */
  .social-media-logos {
    margin-bottom: 25px;
  }
  
  /* ----------- Media Queries for Responsiveness ----------- */
  /* Small devices (mobile phones) */
  @media (max-width: 600px) {
    /* -------------- h3 and hr common styles for hero section and Get the Citizens Advantage Section ---------------- */
    h3 {
      font-size: 1.6rem;
      font-weight: 200;
      margin-block: 15px;
      line-height: 1;
    }
    hr {
      width: 20%;
    }
    /* ----------- Hero Section ----------- */
    header {
      text-align: center;
    }
    #logo {
      width: 180px;
      height: auto;
      margin: 10px;
    }
    #main-img {
      object-position: top-left;
      object-position: -2%;
      height: 35vh;
      width: 100%;
    }
    #herosection p {
      margin: 20px;
      font-size: 0.95rem;
      line-height: 1.7;
      text-align: justify;
      word-spacing: 0px;
    }
    .carrersbutton button {
      font-size: 1.25rem;
      margin-top: 2rem;
    }
    /* ----------- Get the Citizens Advantage Section ----------- */
    #articles h3 {
      padding: 0px 50px;
    }
    .card-container {
      gap: 0px;
      margin-block: 20px;
    }
    .cards {
      padding: 0px 20px;
      width: 100%;
      margin-bottom: 20px;
    }
    .cards h4 {
      font-size: 1.25rem;
      padding-bottom: 8px;
    }
    .cards p {
      font-size: 0.9rem;
      line-height: 1.7;
      text-align: left;
      padding-bottom: 20px;
      border-bottom: 1px solid var(--text-light);
    }
    .card-container .cards:last-child p {
      border-bottom: none;
    }
    /* ----------- Loans Section ----------- */
    #loans-section {
      margin: 20px;
    }
    #loans-section > h4 {
      font-size: 1.25rem;
      padding: 10px 20px;
      font-weight: 300;
      line-height: 1.5;
    }
    #loans-section > p {
      padding: 20px 10px;
      font-size: 0.95rem;
      word-spacing: 0;
      text-align: left;
      line-height: 1.5;
    }
    /* ----------- Officers Section ----------- */
    #officers {
      flex-direction: column;
      padding: 0 20px;
      margin: 30px 10px;
    }
    .bank-officers {
      margin: 30px 5px;
    }
    .bank-officers > img {
      width: 175px;
    }
    .bank-officers > p {
      padding: 0px 30px;
    }
   /* Styling for the quote text */
  .bank-officers > div > p {
    position: relative;
    z-index: 2;
    margin-top: 10px;
    color: #8f8f8f;
    line-height: 1.5;
    font-size: 0.95rem;
    word-spacing: 0.1rem;
    font-weight: 400;
    font-style: italic;
  }
  
  
  /* Styling for the before quote mark in the quote */
  .bank-officers > div > p::before {
    font-family: "Lora", serif;
    position: absolute;
    font-size: 180px;
    z-index: 1;
    opacity: 0.2;
    content: "‘‘";
    left: -36px;
    bottom: 26px;
  }
  .bank-officers > div > .adjustqoutes::before {
    font-family: "Lora", serif;
    position: absolute;
    font-size: 180px;
    z-index: 1;
    opacity: 0.2;
    content: "‘‘";
    left: -30px;
    bottom: -88px;
  }
    /* ----------- footer Section ----------- */
    footer {
      padding: 30px 20px;
    }
    footer > p {
      font-size: 0.65rem;
    }
    footer > .Statements {
      font-size: 0.7rem;
    }
    /* Social Media Logo Styling in the footer */
    footer > div > img {
      width: 20px;
      height: 20px;
    }
    /* Social Media logos container */
    .social-media-logos {
      margin-bottom: 15px;
    }
  }
  
  /*# sourceMappingURL=styles.css.map */
  